.conteiner {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.dark-mode {
  background-color: rgb(8, 8, 75);
}

.light-mode {
  background-color: #fff;
}

span {
  font-size: 30px;
}

.label-box {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.white {
  color: #fff;
}

.grey {
  color: #eee;
}

.orange{
  color: orange;
}
